@import 'globals';

.events#index {

  ol {
    list-style: none;
    margin: 0 0 3rem 0;
    padding: 0;

    li {
      position: relative;
      margin: 0;
      padding: 1em 0;
    }

    li:not(:first-child) {
      border-top: solid 0.1em $secondary-background-color;
    }

    p {
      margin: 0 6rem 0 0;
      line-height: 1.3em;

      &.count {
        position: absolute;
        right: 0;
        top: 50%;
        margin: -0.7em 0 0 0;
        padding: 0 0.8em;
        line-height: 1.4rem;
        cursor: pointer;
        color: $secondary-highlight-color;
        background: $secondary-background-color;
        border-radius: 2em;

        a,
        &:after {
          transition: opacity 0.5s;
        }

        a {
          opacity: 1;
          color: inherit;
          border-bottom: none;
        }

        &:after {
          content: 'plus';
          position: absolute;
          left: 0;
          width: 100%;
          line-height: 1.6rem;
          text-align: center;
          opacity: 0;
          font-family: 'symbolset';
          font-size: 0.75em;
          color: $primary-text-color;
        }

        &:hover {

          a {
            opacity: 0;
          }

          &:after {
            opacity: 1;
          }

        }

      }

    }

  }

  p.new {
    margin: 0 0 1rem -3rem;
    text-align: center;

    a {
      display: inline-block;
      width: 3.4em;
      padding-top: 0.25em;
      line-height: 3.15em;
      font-family: 'symbolset';
      color: $secondary-highlight-color;
      background: $secondary-background-color;
      border: none;
      border-radius: 10em;

      &:hover {
        color: $primary-text-color;
      }

    }

  }

}

@media screen and (max-width: $small-breakpoint) {

  .events#index {

    ol span.time {
      display: block;
    }

  }

}