@import 'colors';

.events#index {

  ol {
    list-style: none;
    margin: 0 0 3rem 0;
    padding: 0;

    li {
      position: relative;
      margin: 0;
      padding: 1em 0;
    }

    li:not(:first-child) {
      border-top: solid 0.1em $secondary-background-color;
    }

    p {
      margin: 0 6rem 0 0;
      line-height: 1.3em;

      &:last-of-type {
        position: absolute;
        right: 0;
        top: 50%;
        margin: -0.7em 0 0 0;
        padding: 0.1em 0.9em;
        color: $secondary-highlight-color;
        background: $secondary-background-color;
        border-radius: 2em;

        span,
        &:after {
          -webkit-transition: opacity 0.5s;
        }

        span {
          opacity: 1;
        }

        &:after {
          content: 'check';
          opacity: 0;
          position: absolute;
          margin: 0.2em 0 0 -0.9em;
          font-family: 'symbolset';
          font-size: 0.8em;
          color: $primary-text-color;
        }

        &:hover {

          span {
            opacity: 0;
          }

          &:after {
            opacity: 1;
          }

        }

      }

    }

  }

}

@media screen and (max-width: 40rem) {

  .events#index {

    ol span.time {
      display: block;
    }

  }

}