@import 'mixins';
@import 'globals';

@-webkit-keyframes pulse {
  0% { background-color: $primary-background-color; }
  50% { background-color: $secondary-background-color; }
}

.occurrences#index {

  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      margin: 0;
      padding: 1em 0;
    }

    li:not(:first-child) {
      border-top: solid 0.1em $secondary-background-color;
    }

    p {
      margin: 0;
    }

  }

  form {
    @include clear;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  div.actions {
    @include split;
  }

  input[type=submit] {
    float: left;
    width: 48.2%;

    &.loading {
      -webkit-animation: pulse 1s infinite;
    }

  }

}

@media screen and (max-width: $small-breakpoint) {

  .occurrences#index {

    ol {

      span.separator {
        display: none;
      }

      span.time {
        display: block;
      }

    }

    input[type=submit] {
      width: 47.4%;
    }

  }

}
