@import 'mixins';
@import 'globals';

@-webkit-keyframes pulse {
  0% { background-color: $primary-background-color; }
  50% { background-color: $secondary-background-color; }
}

@-moz-keyframes pulse {
  0% { background-color: $primary-background-color; }
  50% { background-color: $secondary-background-color; }
}


.occurrences#index {

  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      margin: 0;
      padding: 1em 0;
    }

    li:not(:first-child) {
      border-top: solid 0.15em $secondary-background-color;
    }

    p {
      margin: 0;
    }

  }

  form {
    @include clear;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  div.actions {
    @include split;
  }

  input[type=submit],
  .submit.button {
    width: 50%;
    text-align: center;

    &:first-child {
      border-right-width: 0.1em;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: 0.1em 0 0 0 $secondary-highlight-color;
    }

    &:last-child {
      border-left-width: 0.1em;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    span {
      opacity: 1;
      transition: opacity 0.5s;

      &:first-child {
        margin: 0 0.95em 0 0.2em;
      }

    }

    &:after {
      content: "ellipsis";
      position: absolute;
      margin: -0.25em 0 0 -1.6em;
      opacity: 0;
      font-family: 'symbolset';
      font-size: 1.6em;
      transition: opacity 0.5s;
    }

    &.loading {
      -webkit-animation: pulse 1s infinite;
      -moz-animation: pulse 1s infinite;

      &:after {
        opacity: 1;
      }

      span {
        opacity: 0;
      }

    }

  }

}

@media screen and (max-width: $small-breakpoint) {

  .occurrences#index {

    ol {

      span.separator {
        display: none;
      }

      span.time {
        display: block;
      }

    }

  }

}
